.container{
    
    justify-content: center;
    display: grid;
    gap:80px;
    
    grid-row-gap: 20px;
    grid-column-gap :20px ;
    position: fixed;
    top: 45%;
    left: 47%;
    
    
    font-size: 30px;
    line-height: 2.5em;
    font-family: 'Abril Fatface', cursive;
    width: 4vw;
    height:4vh;
    cursor: pointer;
    
    

    
    
}

@font-face {
    font-family: 'POCKET CALCULATOR FONT';
    font-style: normal; 
    font-weight:normal;
    src: local('POCKET CALCULATOR FONT'), url('POCKC___.woff') format('woff');
}




#screen{
    
    height: 80px;
    position: absolute;
    bottom:50px;
    right:-190px;
    border-color: black;
    background-color: white;
    border-radius: 5%;
    width: calc(25rem + 1vw);
    font-family:  'POCKET CALCULATOR FONT';
    font-size: 50px;
    

    
}

#toggle {
    min-height: 75px;
    min-width: 75px;
    background: black;
    color: white;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    transition: all 0.1s linear;
}
.zone{
    
    min-height: 75px;
    min-width: 75px;
    background: black;
    color: white;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    transition: all 0.1s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


body{
    justify-content: center;
    background-color: grey;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    top:10%;
    margin-bottom: 3%;
}
.title{
   
    display:flex;
    justify-content: center;
}

.Clear {
    box-shadow: 5px 5px 5px black;
    background: red;
    grid-column-start: 4;
    grid-column-end: 6;
    text-align: center;
    border-radius: 40%;
    transition: all 0.1s linear;
    
}

.Equal {
    box-shadow: 5px 5px 5px black;
    background: red;
    grid-column-start: 4;
    grid-column-end: 6;
    text-align: center;
    border-radius: 40%;
    transition: all 0.1s linear;
}

.Clear:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.Equal:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
    